@media print {
  body * {
    visibility: hidden !important;
    box-shadow: none !important;
  }
  .print-invoice, .print-invoice * {
    visibility: visible !important;
  }
  .print-invoice {
    position: absolute !important;
    left: 0; top: 0; width: 100vw;
    box-shadow: none !important;
    border: none !important;
  }
  /* Hide navigation, header, footer, etc. */
  .print:hidden {
    display: none !important;
  }
}